USE [master]
GO
/****** Object:  Database [KullaniciGirisi]    Script Date: 10/2/2017 3:43:30 PM ******/
CREATE DATABASE [KullaniciGirisi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'KullaniciGirisi', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\KullaniciGirisi.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'KullaniciGirisi_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\KullaniciGirisi_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KullaniciGirisi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KullaniciGirisi]
GO
/****** Object:  Table [dbo].[Kullanicilar]    Script Date: 10/2/2017 3:43:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kullanicilar](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Kullanici_Adi] [nvarchar](50) NOT NULL,
	[Kullanici_Parolasi] [nvarchar](50) NOT NULL,
	[Kullanici_Emaili] [nvarchar](50) NOT NULL,
	[Tarih] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
USE [master]
GO
